<div class="container">
    <h2>Estudiantes</h2>
    <table>
        <tr>
            <th>DPI</th>
            <th>CARNE</th>
            <th>NOMBRES</th>
            <th>APELLIDO</th>
            <th>NACIONALIDAD</th>
            <th>SEXO</th>
            <th>IDENTIDAD_RACIAL</th>
            <th>FACULTAD</th>
            <th>CARRERA</th>
            <th>OPERACIONES</th>
        </tr>
        <tr *ngFor="let dat of data">
            <td>{{dat.DPI}}</td>
            <td>{{dat.CARNE}}</td>
            <td>{{dat.NOMBRES}}</td>
            <td>{{dat.APELLIDO}}</td>
            <td>{{dat.NACIONALIDAD}}</td>
            <td>{{dat.SEXO}}</td>
            <td>{{dat.IDENTIDADRACIAL}}</td>
            <td>{{dat.FACULTAD}}</td>
            <td>{{dat.CARRERA}}</td>
            <td>
                <button class="btn btn-success" (click)="openDialog($event, dat)">Editar</button>
                &nbsp;
                <button class="btn btn-danger" (click)="eliminar($event, dat)">Eliminar</button>
            </td>
        </tr>
    </table>
</div>

