<section class="ftco-section">

    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" routerLink="/Bienvenida">Grupo 14 AYD1</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
          </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" routerLink="/Bienvenida" routerLinkActive="active">Home</a></li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="DatosEstudiante">Datos</a>
                        </li>
                        <li class="nav-item "><a routerLink="/AgregarEstudiante" class="nav-link ">Agregar</a></li>

                    </ul>
                </div>
            </div>
        </nav>


    </div>

</section>