<div class="container">
    <div class="row row-grid justify-content-between">
        <div class="col-md-12 mt-lg-12">
            <form>
                <div class="form-group col-md-12">
                    <label for="txtdpi">DPI</label>
                    <input type="text" name="dpi" class="form-control" id="txtdpi" placeholder="DPI" required #txtdpi>
                </div>
                <div class="form-group col-md-12">
                    <label for="txtcarne">Carne</label>
                    <input type="text" name="carne" class="form-control" id="txtcarne" placeholder="CARNE" required #txtcarne>
                </div>
                <div class="form-group col-md-12">
                    <label for="txtnombre">Nombres</label>
                    <input type="text" name="nombre" class="form-control" id="txtnombre" placeholder="NOMBRES" required #txtnombres>
                </div>
                <div class="form-group col-md-12">
                    <label for="txtapellido">Apellido</label>
                    <input type="text" name="apellido" class="form-control" id="txtapellido" placeholder="APELLIDO" required #txtapellido>
                </div>
                <div class="form-group col-md-12">
                    <label for="txtnacionalidad">Nacionalidad</label>
                    <input type="text" name="nacionalidad" class="form-control" id="txtnacionalidad" placeholder="NACIONALIDAD" required #txtnacionalidad>
                </div>
                <div class="form-group col-md-12">
                    <label for="txtsexo">Sexo</label>
                    <input type="text" name="sexo" class="form-control" id="txtsexo" placeholder="SEXO" required #txtsexo>
                </div>
                <div class="form-group col-md-12">
                    <label for="txtidenditad">Identidad Racial</label>
                    <input type="text" name="identidad" class="form-control" id="txtidenditad" placeholder="IDENTIDAD RACIAL" required #txtidentidad>
                </div>
                <div class="form-group col-md-12">
                    <label for="txtfacultad">Facultad</label>
                    <input type="text" name="facultad" class="form-control" id="txtfacultad" placeholder="FACULTAD" required #txtfacultad>
                </div>
                <div class="form-group col-md-12">
                    <label for="txtcarrera">Carrera</label>
                    <input type="text" name="carrera" class="form-control" id="txtcarrera" placeholder="CARRERA" required #txtcarrera>
                </div>


                <button type="button" class="btn btn-primary btn-block" (click)="crearEstudiante(txtdpi.value,txtcarne.value,txtnombres.value,txtapellido.value,txtnacionalidad.value,txtsexo.value,txtidentidad.value,txtfacultad.value,txtcarrera.value)">Agregar</button>

            </form>

        </div>
    </div>
</div>