<div class="container">
    <br>
    <table>
        <thead class="table-dark ">
            <tr>
                <th>Nombre</th>
                <th>Carne</th>
                <th>Correo</th>
                <th>Edad</th>
                <th>CUI</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Edson Armando Guix Manuel</td>
                <td>201701029</td>
                <td>edsonguix@gmail.com</td>
                <td>23</td>
                <td>3007975080101</td>
            </tr>
            <tr>
                <td>Oscar Rolando Bernard Peralta</td>
                <td>201220165</td>
                <td>oscarol14394@gmail.com</td>
                <td>27</td>
                <td>2492944860101</td>
            </tr>
            <tr>
                <td>Romael Isaac Perez Godinez</td>
                <td>201213545</td>
                <td>romaelperez6@gmail.com</td>
                <td>28</td>
                <td>1989097051201</td>
            </tr>
            <tr>
                <td>Escarleth Andrea Velasco Campos</td>
                <td>201503378</td>
                <td>velandreas@gmail.com</td>
                <td>27</td>
                <td>2301603280101</td>
            </tr>
        </tbody>
    </table>

</div>